* {
    font-size: small;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(font/MaterialIcons-Regular.woff2) format('woff2'),
         url(MaterialIcons-Regular.woff) format('woff'),
         url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.nav-pills .nav-link {
    background-color: black;
    color: white;
    border-radius: 0px!important;
    border: 1px solid rgba(0,0,0,.15);
    border-bottom: transparent;
    padding-top: 0.3rem;
}
.nav-pills .dropdown-item:hover {
    color: white;
    background-color: black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff!important;
    color: black!important;
}
.dropdown-menu {
    margin: 0!important;
    border-radius: 0px!important;
    padding-top: 0!important;
    padding-bottom: 0px!important;
}
.dropdown-menu .dropdown-item {
    padding: 0.375rem 1rem 0.5rem 1rem;
}
.container-fluid {
    padding-right: 5px!important;
    padding-left: 0px!important;
}
.first{
    transform: translate3d(0px, 30px, 0px)!important;
}
.modal-content {
    border-radius: 0px!important;
}
button {
    border-radius: 0px!important;
    outline: none!important;
    
}
.modal-footer,.modal-header {
    padding: 0.5rem !important;
}
.modal-backdrop {
    /* background-color: white!important; */
    display: none;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff!important;
}
input {
    border-radius: 0px!important;
}
.input-group-text,.custom-file-label {
    border-radius: 0px!important;
}

.myaudioplayer {
    /* padding-right: 10px; */
    /* display: block; */
    /* background-color: #164954; */
    /* height: 65px; */
    width: 100%;
    margin-bottom: -10px!important;
}
.myaudioplayer label {
    margin-bottom: 0px!important;
    color: #505050;
    padding-top: 2px;
}
.myaudioplayer .list-inline-item {
    margin-left: 0!important;
    margin-right: 0!important;
}
.myaudioplayer .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.btn-group {
    margin-top: -10px;
    /* border: 1px solid #398791; */
}
.playpause {
    width: 20px;
    height: 30px;
}
#btnPlay {
    /* height: 30px; */
    /* width: 30px; */
    background-position: center!important;
    /* border: none; */
    outline: 0px;
    cursor: pointer;
    background-size: 70% 70%;
    /* box-shadow: none !important; */
    
}
.playplay {
    /* content: 'a'; */
    /* margin-left: 3px; */
    /* background-size: 70%!important; */
    background: url(../image/svg/play-arrow.svg) no-repeat;
}
.pause {
    /* margin-left: 3px; */
    /* background-size: 70%!important; */
    background: url(../image/svg/pause-button.svg) no-repeat;
}
#BlblTime,#Bendtime {
    /* cursor: pointer; */
    box-shadow: none!important;
}
#lblTime,#endtime {
    cursor: pointer;

}
.myaudioplayer .btn {
    box-shadow: none!important;
    cursor: pointer;
    padding: 0px 5px 0px 5px!important;
    height: 36px;
    /* transition: 0.5s; */
}
.myaudioplayer .material-icons {
    line-height: 1.5!important;
    color: #505050;
    /* animation: fadeOut 0.5s; */
    
}
.myaudioplayer .form-control {
    /* border: none !important; */
    box-shadow: none !important;
}
.myaudioplayer .popover {
    display: none;
}
/* material ico */


.material-icons {
    font-family: 'Material Icons'!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-size: 25px!important;  /* Preferred icon size */
    display: inline-block;
    line-height: 0;
    text-transform: none!important;
    letter-spacing: normal!important;
    word-wrap: normal!important;
    white-space: nowrap!important;
    direction: ltr!important;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased!important;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility!important;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale!important;

    /* Support for IE. */
    font-feature-settings: 'liga'!important;
    
}
.table {
    height: 31px!important;
    margin-left: 5px;
    margin-bottom: 5px!important;
    /* margin-bottom: 0px!important; */
    border: 1px solid #ced4da;
}
.table td {
    border: 0px!important;
}
.table .form-control {
    border: 0px!important;
}